{
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(137, 137, 228);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(69, 68, 68, 0.2);
}